@define-color crust #232634;
@define-color mantle #292c3c;
@define-color base #303446;
@define-color surface0 #414559;

@define-color red #e78284;
@define-color peach #ef9f76;
@define-color yellow #e5c890;
@define-color green #a6d189;
@define-color sapphire #85c1dc;
@define-color blue #8caaee;
@define-color lavender #babbf1;

@define-color light_blue #c6d0f5;

* {
  border: none;
  border-radius: 0;

  font-size: 18pt;
  font-weight: bold;
  font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;

  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: transparent;
}

tooltip {
  background-color: @crust;
  border: 1px solid @surface0;
  border-radius: 0.67em;
}

tooltip label {
  color: @light_blue;
  padding: 0.33em;
}

#left-group {
  background-color: @crust;
  padding: 0.28em 0.67em;
  margin: 0 0 0 0.55em;
  border-radius: 3em;
  border: 1px solid @mantle;
}

#custom-wlogout {
  padding: 0 0.3em;
  color: white;
}

#workspaces {
  margin: 0 0 0 0.3em;
  color: @light_blue;
}

#workspaces button {
  padding: 0;
  margin: 0 0.17em;
  min-width: 1.3em;
  min-height: 1.3em;
  border-radius: 0.44em;
  color: @crust;
  background-color: @light_blue;
  /* transition: all 0.3s ease-in-out; */
}

#workspaces button.active {
  background-color: @blue;
  color: @crust;
  /* border-radius: 0.89em; */
  /* min-width: 2.78em; */
  /* transition: all 0.3s ease-in-out; */
}

#workspaces button:hover {
  background-color: @lavender;
  color: @crust;
  /* border-radius: 0.89em; */
  /* min-width: 2.78em; */
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @red;
  color: @crust;
  /* border-radius: 0.89em; */
  min-width: 2.78em;
  background-size: 400% 400%;
  /* transition: all 0.3s ease-in-out; */
}

#custom-weather,
#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
  background-color: @crust;
  padding: 0 0.67em 0 0.67em;
  margin: 0 0 0 0.67em;
  border-radius: 3em;
  border: 1px solid @mantle;
}

#clock {
  color: @light_blue;
}

#custom-notification {
  color: @light_blue;
  margin: 0 0.67em 0 0.67em;
}

#pulseaudio {
  color: @light_blue;
}

#pulseaudio.muted {
  color: @red;
}

#network {
  color: @light_blue;
}

#battery {
  color: @green;
}

#custom-weather {
  color: @light_blue;
}
