/* ----------- 💫 original at https://github.com/JaKooLit 💫 -------- */

/* Catppuccin Frappe Colors */
@define-color blue #8caaee;
@define-color subtext1 #b5bfe2;
@define-color crust #1e2030;

window {
  font-family: Fira Code Medium;
  font-size: 28pt;
  background-color: rgba(24, 27, 32, 0.2);
} 

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 10px 2px transparent;
  border: none;
  border-radius: 36px;
  margin: 10px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  min-width: 200px;
}

button:focus {
  color: @blue;
  border: 10px;
  border-color: red;
  box-shadow: none;
  text-shadow: 2px 2px black;
}

button:hover {
  background-size: 35%;
  box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
  background-color: @subtext1;
  color: @crust;
  transition: all 0.2s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
  text-shadow: none;
}

#shutdown {
  background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
  background-image: image(url("./icons/power-hover.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));

}
#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
  background-image: image(url("./icons/restart-hover.png"));
}

#lock {
  background-image: image(url("./icons/lock.png"));
}
#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
}

#suspend {
  background-image: image(url("./icons/hibernate.png"));
}
#suspend:hover {
  background-image: image(url("./icons/hibernate-hover.png"));
}
